In [1]:
import pandas as pd
#data = pd.read_csv("B.csv")

In [2]:
#print(data.columns[0:2].values)

In [5]:
import copy
def enlever_les_zeros(name_file):
    #On récupère le fichier csv et les données qui le concerne
    dataframe = pd.read_csv(name_file)
    long_avant_modif = len(dataframe.columns)
    premieres_colonnes = dataframe[dataframe.columns[0:8].values]
    #print(premieres_colonnes)
    
    #On enlève les colonnes qui ne sont pas à traiter
    for elt in dataframe.columns[0:8].values:
        dataframe = dataframe.drop(columns=elt)
    
    #On fait la somlme cumulatiove sur l'axe des ordonnées
    cumsum = dataframe.cumsum(axis = 0).iloc[-1]
    liste_colonne_a_enlever = []
    for i in range(len(cumsum)):
        if cumsum[i] == 0:
            liste_colonne_a_enlever.append(dataframe.columns[i])
    for name in liste_colonne_a_enlever:
        dataframe = dataframe.drop(columns = name)
    dataframe = pd.concat([premieres_colonnes,dataframe],axis = 1)
    dataframe.to_csv(name_file[:-4]+"_traite.csv")
    print(len(liste_colonne_a_enlever)/long_avant_modif)
    return dataframe

In [6]:
enlever_les_zeros("D.csv")

0.0546875

,Name,Embryo,clusterUmap,Pseudotime,Dataset,EmbryoDay,Stage,clusterEmbryoCells,CDX2,LGALS1,...,MTSS1,NANOG,BRAF,PVT1,IKBKB,ARNT,IL4,YAP1,VDR,KRAS
0,E5.1.28,E5.1,early_TE,37.294838,Petropoulos2016,5.0,B,K07,1,1,...,0,0,1,1,0,1,0,0,0,1
1,E5.1.30,E5.1,early_TE,39.537387,Petropoulos2016,5.0,B,K07,1,0,...,1,0,1,0,0,1,0,1,0,1
2,E5.1.32,E5.1,early_TE,39.483993,Petropoulos2016,5.0,B,K07,1,1,...,0,0,0,0,1,1,0,1,0,1
3,E5.10.933,E5.10,early_TE,31.499036,Petropoulos2016,5.0,B,K06,1,0,...,0,0,1,1,1,1,0,1,0,1
4,E5.10.934,E5.10,early_TE,39.549130,Petropoulos2016,5.0,B,K06,1,0,...,0,0,0,0,1,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,E6.15.1481,E6.15,medium_TE,46.516472,Petropoulos2016,6.0,B,K08,1,1,...,0,0,1,1,1,1,0,1,0,1
196,E6.17.1570,E6.17,medium_TE,45.744124,Petropoulos2016,6.0,B,K08,1,1,...,0,1,0,1,0,1,0,1,0,1
197,E6.17.1571,E6.17,medium_TE,44.560560,Petropoulos2016,6.0,B,K08,0,1,...,0,0,1,1,0,1,0,1,0,1
198,E6.17.1572,E6.17,medium_TE,45.719736,Petropoulos2016,6.0,B,K08,1,1,...,0,1,1,1,1,1,0,1,0,1
199,E6.17.1573,E6.17,medium_TE,47.090278,Petropoulos2016,6.0,B,K08,1,1,...,0,1,1,1,1,1,0,1,0,1